@use "assets/variables" as *;

.moviePanel {
  &-container {
    overflow: scroll;
    display: flex;
    flex-direction: column;
    padding: 16px;
    position: relative;
    max-width: 710px;

    .moviePanel-image-container {
      animation-name: moveRight;
      animation-duration: 0.5s;
      animation-timing-function: ease-in-out;
      max-width: 250px;
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-bottom: 24px;

      > img {
        border-radius: 6px;
      }

      @include mq(xl) {
        margin-right: 24px;
      }
    }

    @include mq(md) {
      flex: 2;
      max-width: none;
      padding: 80px;
    }

    @include mq(xl) {
      flex-direction: row;
      align-items: center;
      background-image: url("assets/image/tv_sample.png");
      animation-name: opacity;
      animation-duration: 1s;
      animation-timing-function: cubic-bezier(1, 1, 1, 1);
      background-repeat: no-repeat;
      background-size: 100% 100%;
      padding: 10% 4% 8% 6%;
    }

    @include mq(smHeight) {
      padding: 7% 4% 6% 6%;
    }

    @include mq(xxl) {
      padding-left: 10%;
    }
  }

  &-scroll-wrapper {
    height: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: column;

    @include mq(xl) {
      flex-direction: row;
      align-items: center;
    }
  }

  &-arrow {
    width: fit-content;
    display: flex;
    white-space: nowrap;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    margin-bottom: 16px;
    opacity: 0.6;

    > img {
      width: 32px;
    }

    &:hover {
      opacity: 1;
    }

    @include mq(md) {
      display: none;
    }
  }

  &-detail-container {
    display: flex;
    flex-direction: column;
    gap: 16px;

    > ul {
      gap: 16px;
    }

    @include mq(xl) {
      width: 40%;
    }
  }

  &-title-wrapper {
    display: flex;
    justify-content: space-between;

    > button {
      height: fit-content;
      border-radius: 24px;
      padding: 12px 16px;
      cursor: pointer;
      white-space: nowrap;
      background-color: cornflowerblue;
      color: white;
      border: 1px solid cornflowerblue;
      &:hover {
        opacity: 0.8;
      }
      &:active {
        background-color: white;
        color: lightslategrey;
      }

      &.remove {
        background: lightcoral;
      }
    }
  }
}
