@keyframes moveRight {
  from {
    transform: translateX(-18px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes opacity {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
