// global styling

// reset all preset margin and padding
* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

p {
  font-size: 16px;
  line-height: 1.5;
}

h2,
h3 {
  margin-bottom: 16px;
}

.label {
  border: 1px solid lightgray;
  border-radius: 32px;
  padding: 8px 12px;
  width: fit-content;
  background-color: beige;
  white-space: nowrap;
}

.flex-row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
