@import "assets/mixin.scss";

.moviesContent {
  &-container {
    display: flex;
    height: 100vh;

    @include mq(md) {
      grid-template-columns: 40% 60%;
    }
  }

  &-movies-list-wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 40px);
    padding: 16px 0px 16px 8px;
    overflow: scroll;
    flex: 1;

    &.movie-selected {
      flex: 0;
      @include mq(md) {
        flex: 1;
      }
    }

    @include mq(md) {
      flex: 1;
      max-width: 510px;
    }

    > input {
      line-height: 16px;
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 6px;
      border: 1px solid gray;
      margin-bottom: 16px;
      margin-right: 8px;
    }
  }

  &-anchor-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    right: 24px;
    bottom: 24px;
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: white;

    > span {
      margin: auto;
    }
  }
}
