@use "assets/variables" as *;

.moviesContent {
  &-container {
    display: flex;
    height: 100vh;

    @include mq(md) {
      grid-template-columns: 40% 60%;
    }

    .no-result {
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &-no-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    > img {
      width: 60px;
      margin-bottom: 16px;
    }
  }

  &-tabs {
    display: flex;
    gap: 16px;
    > h4 {
      border: 1px solid lightgray;
      padding: 4px 8px;
      border-radius: 6px 6px 0px 0px;
      border-bottom: none;
      cursor: pointer;
      &:hover {
        opacity: 0.6;
      }
    }

    .active {
      background-color: lightblue;
    }

    .disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }
  }

  &-left-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    height: calc(100vh - 20px);
    padding: 16px 0px 0px 8px;
    overflow: scroll;
    flex: 1;

    &.movie-selected {
      flex: 0;
      @include mq(md) {
        flex: 1;
      }
    }

    @include mq(md) {
      flex: 1;
      max-width: 510px;
    }

    > input {
      line-height: 16px;
      font-size: 16px;
      padding: 8px 16px;
      border-radius: 6px;
      border: 1px solid gray;
      margin-bottom: 16px;
      margin-right: 8px;
    }
  }

  &-list-wrapper {
    border: 1px solid lightgray;
    flex: 1;
    border-radius: 0px 6px 6px 6px;
    padding: 8px 8px 0px 8px;
    overflow: scroll;
    scroll-behavior: smooth;
    margin-right: 8px;
  }

  &-anchor-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
    right: 24px;
    bottom: 24px;
    width: 60px;
    height: 60px;
    border: 1px solid lightgray;
    border-radius: 50px;
    background-color: white;

    > span {
      margin: auto;
    }
  }
}
