#top {
  position: relative;
}

.to-top-anchor {
  position: fixed;
  z-index: 10;
  right: 24px;
  bottom: 24px;
  width: 60px;
  height: 60px;
  border: 1px solid pink;
  border-radius: 50px;
  text-align: center;
  margin: auto 0;
  display: flex;
  align-items: center;
  justify-content: center;

  > span {
    margin: auto;
  }
}
